<nav class="navbar-lewagon navbar-expand-sm py-3 d-flex justify-content-start">
  <!-- <div class="container d-flex justify-content-start"> -->
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag "https://cdn3.iconfinder.com/data/icons/happy-new-year-2018-5/48/25_juice_cocktail_glass_drink_mocktail-512.png", width: 36 %>
    <% end %>
    <strong><h1 class="d-inline" id='font-logo'>elix-er</h1></strong>
  <!-- </div> -->
</nav>
