.navbar-lewagon {
  background: white;
  justify-content: space-between;
  text-decoration: none;
  border-bottom: 0.25px solid $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-left: 0;
  text-decoration: none;
}

#font-logo {
  font-family: $font-logo;
  color: black;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
