// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-form-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 30px;
  margin-left: 30px;
}
@media (min-width: 768px) {
  .add-form-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .add-form-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .add-form-container {
    width: 1170px;
  }
}
